/* Asterisk wildcard selector to override default styles added by the browser */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling of Main element */

#bkimage {
    min-width: 100%;
    min-height: 100vh;
    background-image: url('../images/quizbackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99;
    background-color: rgba(197, 197, 197, 0.7);

}

/*styling for section page*/
#box {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}

/* each division has been styled in similar background and font color to show uniformity*/
#container,
#instructions,
#options,
#quiz,
#result {
    background-color: rgb(98, 0, 0);
    position: relative;
    width: 90%;
    max-width: 420px;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0 0 10px 2px;
}

/* Heading elements*/
h1,
h2 {
    padding: 10px;
    color: whitesmoke;
    margin: 10px;
}

/* paragraph element*/
p,
#finalscore {
    color: #ff8000;
}

/* Each buttons are styled in similar pattern*/
.button {
    display: inline-flex;
    padding: 10px 20px;
    margin: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #e3cbbf;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* on cursor pointing to each button the pointer style will be displayed*/
    box-shadow: 0 0 10px 2px;
}

/* when mouse is hovered you will see the diff font and background color*/
.button:hover {
    background-color: #ff8000;
    color: whitesmoke;
}

/*division or button to hide*/
.hide {
    display: none;
}

/* style of displaying question*/
#question {
    color: #ff8000;
    margin: 10px;
}

/* style of answer buttons*/
.ans-button {
    background-color: whitesmoke;
    color: black;
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 5px;
    text-align: left;
    cursor: pointer;
    font-weight: 600;
}

/* hover effect will work only when the button is not disabled*/
.ans-button:hover:not([disabled]) {
    background-color: #ff8000;
    color: whitesmoke;
}

/* next button and play again button*/
#nxt-button,
#replay-button {
    padding: 10px 20px;
    margin: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #e3cbbf;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/*mouse hover effect on next and play again button*/
#nxt-button:hover,
#replay-button:hover {
    background-color: #ff8000;
    color: whitesmoke;
}

/*when the selected answer is correct the button changes to green color*/
.ans-button.correct {
    background-color: teal;
    color: whitesmoke;
    font-weight: 600;
}

/*when the selected answer is correct the button changes to red color*/
.ans-button.incorrect {
    background-color: #F57575;
    color: whitesmoke;
    font-weight: 600;
}

/*404.html page*/
.notfound {
    text-align: center;
    justify-content: space-around;
    background-image: none;
    display: block;
}

.notfound>h1,
.notfound>h2,
.notfound>p {
    color: rgb(98, 0, 0);
    margin-top: 10px;
}

.errormsg {
    width: 50%;
    margin: 0 25%;
}