*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('../images/quizbackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: rgb(98, 0, 0);
    position: relative;
    width: 100%;
    max-width: 420px;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    ;
}

h1, h2 {
    padding: 10px;
    color: whitesmoke;
    margin: 10px;
}
p {
    color: #ff8000;
}

.values{
    color: #ff8000;
}

.button {
    display: inline-flex;
    padding: 10px 20px;
    margin: 15px;
    font-size: 16px;
    background-color: lightslategray;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #ff8000;
}
.hide {
    display: none;
}
.hiddenDiv {
    display:none;
}