*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('../images/quizbackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.cointainer {
    background-color:maroon;
    padding: 20px;
    margin: auto;
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 200px;
    margin-top: 200px;
   
}

h1,
p {
    padding:20px;
    color: whitesmoke;
    margin: 20px;
}

.button {
    display: inline-flex;
    padding: 10px 20px;
    margin: 15px;
    font-size: 16px;
    background-color: lightslategray;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: orange;
}